<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="warning"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button full class="submit-button" (click)="listPairedDevices()">
    <ion-icon name="refresh"></ion-icon>&nbsp;Refresh Bluetooth Devices
  </ion-button>
  <ion-row>
    <ion-col>
      <ion-list radio-group [(ngModel)]="pairedDeviceID" *ngIf="listToggle">
        <ion-item *ngFor="let i of pairedList;let j=index">
          <ion-label>{{i.name}}</ion-label>
          <ion-radio value="{{j}}"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-button full class="submit-ion-button" *ngIf="listToggle" (click)="selectDevice()">
    <ion-icon name="bluetooth"></ion-icon>&nbsp;Connect Bluetooth Devices
  </ion-button>
  <ion-list>
    <ion-item>
      <ion-label floating>Type The Data You want to Send</ion-label>
      <ion-input type="text" name="datasend" [(ngModel)]="dataSend"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button full class="submit-ion-button" (click)="sendData()">
    <ion-icon name="send"></ion-icon>&nbsp;Send Data Via Bluetooth
  </ion-button>
</ion-content>