.backgroundAplicativo{
    background-color: #f8f8f8;
}
.smartphoneIntroducao{
    padding-top: 40px;
}
.TituloAplicativoIntroducao h1{
    margin-top: 80px;
    font-size: 90px !important;
}
table{
    width: 100%;
}
.formularioSuport{
    margin-top: 20px;
}
.suporteBotao{
    margin-top: 30px;
}