/* Estrutura base */

html, body {
    overflow-x: hidden;
}

.fundoCarro {
    background-image: url('../img/fundo_index.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

@media screen and (max-width: 1500) {
    .fundoCarro {
        background-image: url('../img/fundo_index.jpeg');
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: 100%;
    }
}

.linhaVertical {
    border-color: #ffc107;
    height: 100%;
    border-left: 2px solid;
}

.backgroundBlack {
    background-color: #454545;
    padding: 80px;
}

.backgroundYellow {
    background-color: #ffc107;
    padding: 80px;
}

.backgroundWhite {
    background-color: #ffffff;
    padding: 80px;
}

.backgroundBlackLight {
    background-color: #f8f8f8;
    padding: 80px;
}

@media screen and (max-width: 600px) {
    .backgroundBlack {
        background-color: #454545;
        padding: 10px;
    }
    .backgroundYellow {
        background-color: #ffc107;
        padding: 10px;
    }
    .backgroundWhite {
        background-color: #ffffff;
        padding: 10px;
    }
    .backgroundBlackLight {
        background-color: #f8f8f8;
        padding: 10px;
    }
}

.Rodape {
    background-color: #454545;
}

.RodapeLight {
    background-color: #f8f8f8;
}

/* Menu */

.botaoLogin {
    margin-left: 5px;
}

/* Aplicativo */

.AppSmart {
    width: 645px;
}

.espaco{
    padding-top: 90px;
}

@media screen and (max-width: 1626px) {
    .AppSmart {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .AppSmart {
        width: 100%;
    }
    .espaco{
        padding-top: 50px;
    }
}

.iconAppDownload {}

.iconAppDownload img {
    width: 100%;
    object-fit: contain;
    margin-top: 10px;
}

.DownloadApp {}

.Texto {}

/* -------- Texto -------- */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 500%;
}

h3 {
    font-size: 400%;
}

h4 {
    font-size: 300%;
}

h5 {
    font-size: 200%;
}

h6 {
    font-size: 100%;
}

.tituloBranco {
    color: #ffffff;
}

.tituloPreto {
    color: #454545;
}

.tituloAmarelo {
    color: #ffc107;
}

/* -------- Planos ---------- */

.PlanoCard {
    padding: 5px;
}

.card {
    border: 0px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 1px rgba(245, 245, 245, 0.77);
    -moz-box-shadow: 1px 1px 1px rgba(245, 245, 245, 0.77);
    box-shadow: 1px 1px 1px rgba(245, 245, 245, 0.77);
}

/* -------- Rodapé ----------- */

.logoReviseRodape {
    width: 100%;
}

.redesocialIcones {
    width: 20px;
    height: 20px;
}

/* -------- Desenvolvedores ----- */

.foto {
    width: 80%;
    height: 80%;
    z-index: 0;
}

.foto {
    width: 80%;
    height: 80%;
}

.foto:hover {
    opacity: 0.8;
}

.descricao {
    text-align: center;
}

/* ---------- Cadastro -------------*/

.formularioCadastro {
    padding-top: 20px;
}

.inputCadastro {
    padding-top: 10px;
}

.cadastro {
    height: 888px;
}

/* --------- Notificação ----------*/

#notifications {
    cursor: pointer;
    position: fixed;
    right: 0px;
    z-index: 9999;
    bottom: 0px;
    margin-bottom: 22px;
    margin-right: 15px;
    max-width: 300px;
}

.text_definition {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35pt;
}

.text-definition2 {
    margin-top: 8%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;
    opacity: 0.8;
}

.planos_padding {
    padding: 2%;
}

.barra_nav {
    position: fixed;
    width: 100%;
    z-index: 9;
}

.vazia {
    padding: 14.5%;
}

.plano_nomes {
    text-align: center;
}

.margem {
    margin-top: 5%;
}

.align {
    margin-left: 47%;
}

.space {
    margin-top: 5%;
    margin-left: 5%;
}

.card_align {
    align-items: center;
}

.card_hover:hover {
    transform: scale(1.01);
}

.index {
    z-index: 0;
}

.size {
    width: 300px;
}

.porcentagem {
    width: 100%;
}

.altura {
    height: 550px;
}

.index {
    z-index: 1;
}

#icone {
    width: 100%;
}

.resize {
    resize: none;
}

.tamanhoCard {
    height: 100%;
}
.size
{
    width: 12%;
    height: 12%;
}
.top
{
    margin-top: -5%;
}
.top_btn
{
    margin-top: 700px;
}
.size
{
    width: 100%;
    height: 100%;
}
.btn_espaco
{
    margin-top: 50px;
}
