body{
    margin: 0px;
    background: #454545;
    overflow: hidden;
    font-family: 'Archivo', sans-serif;
}
.divLogin{
   
    border-radius: 10px;
}

.imagemLogin{
    background: url('../img/backgroundLogin.jpg');
    background-repeat: no-repeat;
    background-size: 130%; 
    background-position: center;
    background-position: -290px;
}

.centralizar{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.background{
    background-color: #ffffff;
    width: 800px;
    height: 800px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.logoRevise{
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.btnEntrar{
    padding-top: 20px;
}
.btnCadastrar{
    padding-top: 20px;
}
.linkEsqueci{
    margin-top: 20px;
    color: #000000;
    text-decoration: none;
    text-align: center;
}
.formularioLogin{
    padding: 10%;
}
.inputLogin{
    padding-top: 10px;
    padding-bottom: 20px;
}
input{
    width: 100%;
}
.label-float{
    position: relative;
    padding-top: 13px;
}
  
.label-float input{
    border: 0;
    border-bottom: 2px solid lightgrey;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance:none;
    border-radius: 0;
}
  
.label-float input:focus{
    border-bottom: 2px solid #f3e410;
}
 
.label-float input::placeholder{
    color:transparent;
}
  
.label-float label{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
}
  
.label-float input:required:invalid + label{
    color: #000000;
}
.label-float input:focus:required:invalid{
    border-bottom: 2px solid #000000;
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
    font-size: 13px;
    margin-top: 0;
    color: #f3e410;
}
@media screen and (max-width: 1216px) {
    body {
        background: #454545;
    }
    .divLogin{
        width: 800px;
        height: 800px;
        border-radius: 10px;
        background: #ffffff;
        background-repeat: no-repeat;
        background-size: 140%; 
        background-position: center;
    }
    .background{
        background-color: #ffffff;
        width: 800px;
        height: 800px;
        border-radius: 10px; 
    }    
}
  
 @media screen and (max-width: 600px) {
    body {
        background: #ffffff;
    }
    .divLogin{
        width: 800px;
        height: 800px;
        border-radius: 10px;
        background: #ffffff;
        background-repeat: no-repeat;
        background-size: 140%; 
        background-position: center;
    }
   
}

.padding
{
    padding: 35px 30px;
    /* padding-bottom: 0px; */

}