.icone{
    margin-top: 13px;
    color: #f8e809;
}
ion-content{
    --background: #5c5b5b;
}
ion-toolbar{
    --background: #454545;
}
ion-searchbar{
    --background: #fff;
}

ion-select-option, ion-select{
    color: #fff;
}